.App {
  text-align: center;
  font-family: "QuickSandLight"
}

@font-face {
  font-family: "QuickSandLight";
  src: local("QuickSandLight"),
   url("./assets/fonts/Quicksand/static/Quicksand-Light.ttf") format("truetype");
  font-weight: medium;
}
